node_modules
# Python Virtual Environment
venv/
.venv/
ENV/
env/

# Environment variables
.env
.vscode
.vscode/settings.json
.vscode/launch.json
# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/


# .gitignore (at root)
venv/
.env
node_modules/
__pycache__/
*.pyc
media/
db.sqlite3